.Nav-bar{
    background-color: #333;
    width: 100vw;
    height: 133px;
    display: flex;
    margin-top: 1px;
}

.logo-one{
    width: 221px;
    height: 155px;
    margin-left: 37px;
    margin-top: -9px;
}

.links{
    display: flex;
    gap: 100px;
    margin-top: 53px;
    margin-left: 300px;
}

li{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: .7s;
}

.nav-link:hover{
    color: red;
}

.chart-btn{
    width: 42px;
    height: 28px;
    background-color: red;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin-top: -12px;
    margin-left: 387px;
    cursor: pointer;
}

.chart-icon{
    width: 32px;
    height: 32px;
}


.car-heading{
    color: rgb(150, 50, 0);
    text-align: center;
    padding-top: 200px;
}
.vehicle-details{
    width: 100vw;
    height: 500px;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 80px;
    display: flex;
}

.column-two{
    width: 372px;
    height: 440px;
    text-align: center;
    background-color: transparent;
    margin-left: 16px;
    padding-top: 43px;
    border: 1px solid black;
    border-radius: 10px;
    transition: .9s;
}

.column-two:hover{
    transform: translateY(-10px);
}

.cars-pic{
    width: 327px;
    height: 224px;
}

.car-details{
    text-align: left;
    margin-left: 48px;
}

.carTitle{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -15px;
}

.carRate{
    font-size: 20px;
    color: rgb(0, 65, 0);
}

.Car-buttons{
    display: flex;
    gap: 20px;
    margin-top: -10px;
}

.moreInfo-btn{
    padding: 15px 30px;
    background-color: black;
    border-radius: 5px;
}

.More-Info{
    color: #fff;
    text-decoration: none;
}

.chartBtn{
    background-color: rgb(150, 50, 0);
    width: 135px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}